.wrap {
    position: relative;
    display: flex;
    height: 36px;
}

.field {
    padding: 0 4px 0 12px;
    width: 100%;
    height: 34px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #5c5c5c;
    border: 1px solid #c2c2c2;
    border-right: none;
    border-radius: 8px 0 0 8px;
    background-color: #fff;
    outline: none;
}

.field::placeholder {
    color: #c2c2c2;
    text-transform: none;
}

.field:focus {
    border-color: #adadad;
    border-right: none;
}

.fieldError {
    border: 1px solid #e09f9f;
    border-right: none;
}

.error {
    position: absolute;
    top: 46px;
    right: 40px;
    padding: 1px 6px;
    height: 20px;
    background-color: #fce6e6;
    font-size: 16px;
    color: #df9696;
    border-radius: 4px;
}

.error::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 150px;
    bottom: 20px;
    border: 12px solid #fce6e6;
    border-top-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}

@media (max-width: 354px) {
    .error {
        font-size: 14px;
    }
}
